{{#*inline "checkboxPartial"}}
<span class="checkbox-item">
    <label for="{{@key}}">{{@key}}</label>
    <input type="checkbox" name="{{@key}}" value="true" {{checked this}} />
</span>
{{/inline}}

<form class="flexcol">
    <div class="form-group">
        <div class="grid-container">
            {{!-- I guess I could factor this repeating pattern out into a partial, but meh --}}
            <fieldset>
                <legend>{{localize "DBTIME.Shift.Morning"}}:</legend>
                {{#each morning}}
                {{> checkboxPartial}}
                {{/each}}
            </fieldset>
            <fieldset>
                <legend>{{localize "DBTIME.Shift.Afternoon"}}:</legend>
                {{#each afternoon}}
                {{> checkboxPartial}}
                {{/each}}
            </fieldset>
            <fieldset>
                <legend>{{localize "DBTIME.Shift.Evening"}}:</legend>
                {{#each evening}}
                {{> checkboxPartial}}
                {{/each}}
            </fieldset>
            <fieldset>
                <legend>{{localize "DBTIME.Shift.Night"}}:</legend>
                {{#each night}}
                {{> checkboxPartial}}
                {{/each}}
            </fieldset>
        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fa fa-check"></i> OK
        </button>
    </footer>
</form>