{{#*inline "checkboxPartial"}}
<span class="checkbox-item">
    <label for="{{@key}}">{{@key}}</label>
    <input type="checkbox" name="{{@key}}" value="true" {{checked this}} />
</span>
{{/inline}}

<form class="flexcol">
    <div class="form-group">
        <div class="grid-two-by-two">
            {{!-- I guess I could factor this repeating pattern out into a partial, but meh --}}
            <fieldset>
                <legend>{{localize "DBTIME.Shift.Morning"}}:</legend>
                {{#each morning}}
                {{> checkboxPartial}}
                {{/each}}
                <div class="button-container">
                    <button class="flex0" type="button" data-action="check" id="btn-check-all-morning">{{localize
                        "DBTIME.Settings.CheckAll"}}</button>
                    <button class="flex0" type="button" data-action="clear" id="btn-clear-all-morning">{{localize
                        "DBTIME.Settings.ClearAll"}}</button>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{localize "DBTIME.Shift.Afternoon"}}:</legend>
                {{#each afternoon}}
                {{> checkboxPartial}}
                {{/each}}
                <div class="button-container">
                    <button type="button" data-action="check" id="btn-check-all-afternoon">{{localize
                        "DBTIME.Settings.CheckAll"}}</button>
                    <button type="button" data-action="clear" id="btn-clear-all-afternoon">{{localize
                        "DBTIME.Settings.ClearAll"}}</button>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{localize "DBTIME.Shift.Evening"}}:</legend>
                {{#each evening}}
                {{> checkboxPartial}}
                {{/each}}
                <div class="button-container">
                    <button type="button" data-action="check" id="btn-check-all-evening">{{localize
                        "DBTIME.Settings.CheckAll"}}</button>
                    <button type="button" data-action="clear" id="btn-clear-all-evening">{{localize
                        "DBTIME.Settings.ClearAll"}}</button>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{localize "DBTIME.Shift.Night"}}:</legend>
                {{#each night}}
                {{> checkboxPartial}}
                {{/each}}
                <div class="button-container">
                    <button type="button" data-action="check" id="btn-check-all-night">{{localize
                        "DBTIME.Settings.CheckAll"}}</button>
                    <button type="button" data-action="clear" id="btn-clear-all-night">{{localize
                        "DBTIME.Settings.ClearAll"}}</button>
                </div>
            </fieldset>
        </div>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fa fa-check"></i> OK
        </button>
    </footer>
</form>