{{#*inline "checkboxPartial"}}
<span class="checkbox-item">
    <label for="{{@key}}">{{@key}}</label>
    <input type="checkbox" name="{{@key}}" value="true" {{checked this}} />
</span>
{{/inline}}

<form class="flexcol">
    <div class="form-group">
        <div class="grid-two-by-two">
            {{!-- I guess I could factor this repeating pattern out into a partial, but meh! It's done now :) --}}
            <fieldset>
                <legend>{{localize "JDTIMEKEEPING.Shift.Morning"}}:</legend>
                <div id="morning">
                    {{#each morning}}
                    {{> checkboxPartial}}
                    {{/each}}
                </div>
                <div class="button-container">
                    <button type="button" data-action="check" data-target="morning"
                        id="btn-check-all-morning">{{localize
                        "JDTIMEKEEPING.Settings.CheckAll"}}</button>
                    <button type="button" data-action="clear" data-target="morning"
                        id="btn-clear-all-morning">{{localize
                        "JDTIMEKEEPING.Settings.ClearAll"}}</button>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{localize "JDTIMEKEEPING.Shift.Afternoon"}}:</legend>
                <div id="afternoon">
                    {{#each afternoon}}
                    {{> checkboxPartial}}
                    {{/each}}
                </div>
                <div class="button-container">
                    <button type="button" data-action="check" data-target="afternoon"
                        id="btn-check-all-afternoon">{{localize
                        "JDTIMEKEEPING.Settings.CheckAll"}}</button>
                    <button type="button" data-action="clear" data-target="afternoon"
                        id="btn-clear-all-afternoon">{{localize
                        "JDTIMEKEEPING.Settings.ClearAll"}}</button>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{localize "JDTIMEKEEPING.Shift.Evening"}}:</legend>
                <div id="evening">
                    {{#each evening}}
                    {{> checkboxPartial}}
                    {{/each}}
                </div>
                <div class="button-container">
                    <button type="button" data-action="check" data-target="evening"
                        id="btn-check-all-evening">{{localize
                        "JDTIMEKEEPING.Settings.CheckAll"}}</button>
                    <button type="button" data-action="clear" data-target="evening"
                        id="btn-clear-all-evening">{{localize
                        "JDTIMEKEEPING.Settings.ClearAll"}}</button>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{localize "JDTIMEKEEPING.Shift.Night"}}:</legend>
                <div id="night">
                    {{#each night}}
                    {{> checkboxPartial}}
                    {{/each}}
                </div>
                <div class="button-container">
                    <button type="button" data-action="check" data-target="night" id="btn-check-all-night">{{localize
                        "JDTIMEKEEPING.Settings.CheckAll"}}</button>
                    <button type="button" data-action="clear" data-target="night" id="btn-clear-all-night">{{localize
                        "JDTIMEKEEPING.Settings.ClearAll"}}</button>
                </div>
            </fieldset>
        </div>
    </div>
    <footer class="sheet-footer button-container flexrow">
        <button type="submit" name="submit">
            <i class="fa-solid fa-save"></i> {{localize "SETTINGS.Save"}}
        </button>
    </footer>
</form>