<form class="flexcol">
    <div class="category">

        <div class="form-group">
            <label for="daylight-cycle-enabled">{{localize
                "JDTIMEKEEPING.Settings.DaylightCycleEnabled.label"}}:</label>
            <input type="checkbox" name="daylight-cycle-enabled" value="true" {{checked daylight-cycle-enabled}} />
            <p class="notes">{{localize "JDTIMEKEEPING.Settings.DaylightCycleEnabled.hint"}}</p>
        </div>

        <div class="form-group">
            <label for="animate-darkness">{{localize "JDTIMEKEEPING.Settings.AnimateDarknessChange.label"}}:</label>
            <range-picker min="0" max="60" name="animate-darkness" step="0.5"
                value="{{animate-darkness}}"></range-picker>
            <p class="notes">{{localize "JDTIMEKEEPING.Settings.AnimateDarknessChange.hint"}}</p>
        </div>

        <div class="form-group">
            <fieldset class="margin-top">
                <legend>{{localize "JDTIMEKEEPING.Settings.Day"}}</legend>

                <div class="form-group">
                    <label for="day-darkness-level">{{localize
                        "JDTIMEKEEPING.Settings.DaytimeDarknessLevel.label"}}:</label>
                    <range-picker min="0" max="1" name="day-darkness-level" step="0.05"
                        value="{{day-darkness-level}}"></range-picker>
                </div>

                <div class="form-group">
                    <label for="dawn-start">{{localize "JDTIMEKEEPING.Settings.DawnStartTime.label"}}:</label>
                    <input type="time" name="dawn-start" step="300" value="{{dawn-start}}" />
                </div>

                <div class="form-group">
                    <label for="dawn-duration">{{localize "JDTIMEKEEPING.Settings.DawnDuration.label"}}:</label>
                    <range-picker min="5" max="120" name="dawn-duration" step="5"
                        value="{{dawn-duration}}"></range-picker>
                </div>

            </fieldset>
        </div>

        <div class="form-group">
            <fieldset class="margin-top">
                <legend>{{localize "JDTIMEKEEPING.Settings.Night"}}</legend>

                <div class="form-group">
                    <label for="night-darkness-level">{{localize
                        "JDTIMEKEEPING.Settings.NighttimeDarknessLevel.label"}}:</label>
                    <range-picker min="0" max="1" name="night-darkness-level" step="0.05"
                        value="{{night-darkness-level}}"></range-picker>
                </div>

                <div class="form-group">
                    <label for="dusk-start">{{localize "JDTIMEKEEPING.Settings.DuskStartTime.label"}}:</label>
                    <input type="time" name="dusk-start" step="300" value="{{dusk-start}}" />
                </div>

                <div class="form-group">
                    <label for="dusk-duration">{{localize "JDTIMEKEEPING.Settings.DuskDuration.label"}}:</label>
                    <range-picker min="5" max="120" name="dusk-duration" step="5"
                        value="{{dusk-duration}}"></range-picker>
                </div>

            </fieldset>
        </div>
    </div>

    <footer class="sheet-footer margin-top flexrow">
        <button type="submit" name="submit">
            <i class="fa fa-check"></i> OK
        </button>
    </footer>
</form>