{{#*inline "selectPartial"}}
<option value="{{@key}}" {{#if this}}selected{{/if}}>{{@key}}</option>
{{/inline}}

<form class="flexcol">
    <div class="category">

        <div class="form-group">
            <label for="daylight-cycle-enabled">{{localize "DBTIME.Settings.DaylightCycleEnabled.label"}}:</label>
            <input type="checkbox" name="daylight-cycle-enabled" value="true" {{checked daylight-cycle-enabled}} />
            <p class="notes">{{localize "DBTIME.Settings.DaylightCycleEnabled.hint"}}</p>
        </div>

        <div class="form-group">
            <label for="animate-darkness">{{localize "DBTIME.Settings.AnimateDarknessChange.label"}}:</label>
            <range-picker min="0" max="15" name="animate-darkness" step="0.5"
                value={{animate-darkness}}></range-picker>
            <p class="notes">{{localize "DBTIME.Settings.AnimateDarknessChange.hint"}}</p>
        </div>

        <div class="form-group">
            <fieldset class="margin-top">
                <legend>{{localize "DBTIME.Settings.Day"}}</legend>

                <div class="form-group">
                    <label for="day-darkness-level">{{localize "DBTIME.Settings.DaytimeDarknessLevel.label"}}:</label>
                    <range-picker min="0" max="1" name="day-darkness-level" step="0.05"
                        value={{day-darkness-level}}></range-picker>
                </div>

                <label for="dawn-start">{{localize "DBTIME.Settings.DawnStartTime.label"}}:</label>
                <div class="form-fields">
                    <select name="dawn-start">
                        {{#each dawn-start-options}}
                        {{> selectPartial}}
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="dawn-duration-ticks">{{localize "DBTIME.Settings.DawnDurationTicks.label"}}:</label>
                    <range-picker min="1" max="8" name="dawn-duration-ticks" step="1"
                        value={{dawn-duration-ticks}}></range-picker>
                    <p class="notes">{{localize "DBTIME.Settings.DawnDurationTicks.hint"}}{{tick-minutes}} {{localize "DBTIME.minutes"}}.</p>
                </div>
            </fieldset>
        </div>

        <div class="form-group">
            <fieldset class="margin-top">
                <legend>{{localize "DBTIME.Settings.Night"}}</legend>

                <div class="form-group">
                    <label for="night-darkness-level">{{localize
                        "DBTIME.Settings.NighttimeDarknessLevel.label"}}:</label>
                    <range-picker min="0" max="1" name="night-darkness-level" step="0.05"
                        value={{night-darkness-level}}></range-picker>
                </div>

                <label for="sunset-start">{{localize "DBTIME.Settings.SunsetStartTime.label"}}:</label>
                <div class="form-fields">
                    <select name="sunset-start">
                        {{#each sunset-start-options}}
                        {{> selectPartial}}
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="dusk-duration-ticks">{{localize "DBTIME.Settings.DuskDurationTicks.label"}}:</label>
                    <range-picker min="1" max="8" name="dusk-duration-ticks" step="1"
                        value={{dusk-duration-ticks}}></range-picker>
                    <p class="notes">{{localize "DBTIME.Settings.DuskDurationTicks.hint"}}{{tick-minutes}} {{localize "DBTIME.minutes"}}.</p>
                </div>
            </fieldset>
        </div>
    </div>

    <footer class="sheet-footer margin-top flexrow">
        <button type="submit" name="submit">
            <i class="fa fa-check"></i> OK
        </button>
    </footer>
</form>