{{#*inline "timePartial"}}
{{#if this}}
<span id="timeofday" class="etk-timeofday flexrow" style="color:{{color}};">
    {{time}}
</span>
{{/if}}
{{/inline}}

{{log this}}
<div class="et-time flexcol">
    {{> timePartial time=time color=textColor }}

    {{#with dbtime}}
    <span id="dbtime" class="etk-timeofday flexrow" style='color: {{textColor}};'>
        {{#if days}}
        {{localize "JDTIMEKEEPING.Time.Day"}} {{days}}, {{localize "JDTIMEKEEPING.Time.Stretch"}} {{stretches}} <br />
        {{shiftName}} {{localize "JDTIMEKEEPING.Time.Shift"}}
        {{else}}
        {{localize "JDTIMEKEEPING.Time.Stretch"}} {{stretches}}, {{shiftName}} {{localize "JDTIMEKEEPING.Time.Shift"}}
        {{/if}}
    </span>
    {{/with}}

    <div class="etk-clock-panel flex-align-center">
        <div class="etk-clock-list flexrow">
            {{#each clocks as |clock|}}
            <div class="etk-clock-entry">
                <span class="etk-clock"
                    style="--areas: {{clock.max}}; --filled: {{clock.value}}; --clock-color: {{clock.color}}; --background: {{clock.backgroundColor}}">
                    {{#each clock.spokes}}
                    <div class="etk-spoke" style="--index: {{ this }}"></div>
                    {{/each}}
                </span>
                {{!-- <div class="etk-name-section">
                    <div class="name">{{clock.name}}</div>
                </div> --}}
            </div>
            {{/each}}
        </div>
    </div>

    {{#if isGM}}
    <span class="button-container flexrow receive-pointer-events time-button-container flex-align-center">
        <i id="btn-etk-reset-time" data-action="reset-time" class="fa-solid fa-clock-rotate-left"
            title="{{localize 'JDTIMEKEEPING.UI.reset'}}"></i>

        <i id="btn-etk-large-dec" data-action="time-delta" data-target="large-decrement"
            class="fa-solid fa-backward-fast" title="{{localize 'JDTIMEKEEPING.UI.largeDec'}}"></i>

        <i id="btn-etk-small-dec" data-action="time-delta" data-target="small-decrement" class="fa-solid fa-backward"
            title="{{localize 'JDTIMEKEEPING.UI.smallDec'}}"></i>

        <i id="btn-etk-small-inc" data-action="time-delta" data-target="small-increment" class="fa-solid fa-forward"
            title="{{localize 'JDTIMEKEEPING.UI.smallInc'}}"></i>

        <i id="btn-etk-large-inc" data-action="time-delta" data-target="large-increment"
            class="fa-solid fa-forward-fast" title="{{localize 'JDTIMEKEEPING.UI.largeInc'}}"></i>

        <i id="btn-etk-set-time" data-action="set-time" class="fa-solid fa-clock"
            title="{{localize 'JDTIMEKEEPING.UI.set'}}"></i>
    </span>
    {{/if}}
</div>