{{#*inline "dayPartial"}}
<div class="form-row flexrow">
    <label for="{{id}}">{{label}}:</label>
    <input name="{{id}}" type="text" required=true value="{{value}}" />
</div>
{{/inline}}

{{log this}}
<form class="form-group flexcol">

    <div class="form-row flexrow">
        <label for="{{daysPerWeek.id}}">{{daysPerWeek.label}}:</label>
        <input name="{{daysPerWeek.id}}" type="number" min="{{daysPerWeek.min}}" max="{{daysPerWeek.max}}" required=true
            value="{{daysPerWeek.value}}" />
    </div>

    {{> dayPartial weekname}}

    <fieldset>
        <legend>{{localize "JDTIMEKEEPING.Settings.RenameWeekdays"}}:</legend>
        {{#each this.weekdays}}
        {{> dayPartial}}
        {{/each}}
    </fieldset>

    <footer class="sheet-footer flexrow button-container">
        <button class="reset-all" type="button" name="reset" data-action="reset">
            <i class="fa-solid fa-undo"></i> {{localize "SETTINGS.Reset"}}
        </button>
        <button type="submit" name="submit">
            <i class="fa-solid fa-save"></i> {{localize "SETTINGS.Save"}}
        </button>
    </footer>
</form>